################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/2D-game-engine/FileContentIndex/5808680d-be54-482a-b845-23436bc5b26e.vsidx
/.vs/2D-game-engine/FileContentIndex/5feee644-851d-4e6a-bfdb-f699d45db361.vsidx
/.vs/2D-game-engine/FileContentIndex/ad605381-d625-4cbc-8a07-853529295ed4.vsidx
